#navigationBar{
  background-color: #233237;
}

#mainFooter {
  background: #000;
  color: #fff;
}

#projectInfoHeader {
  height: 15%;
}

#projectInfoText{
  height: auto;
  max-height: 70%;
}

#projectInfoButton{
  height: 15%;
}
